body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url("../../../public/images/bugsy-bg.png");
  background-repeat: no-repeat;
  background-color: rgba(158, 157, 157, 0.495);
  background-blend-mode: multiply;
  background-attachment: fixed;
}

.login-container {
  background-color: #a20909;
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30vh;
  margin-left: 90vh;
}

.login-panel {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login-panel h1 {
  font-size: x-large;
  margin-bottom: 20px;
}

.login-panel input {
  height: 30px;
  margin-bottom: 15px;
  background-color: rgb(235, 233, 233);
  width: 80%;
  border: 2px solid rgba(207, 81, 81, 0.354);
  border-radius: 5px;
  
}

input:focus {
  outline: 2px solid rgba(255, 0, 0, 0.354);
  border: none;
  box-shadow: 3px 3px #3c3b3b5a;
}

.login_button {
  background-color: rgb(246, 61, 61);
  border-radius: 10px;
  width: 60%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #bb0000 #b80a0a #7a0303;
  color: white;
}
