.bug-create {
    width: 60vw;
    background-color: #652f2fee;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    color: white;
    padding: 1% 5%;

}

.bug-create h1 {
    min-width: 100%;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 1px groove white;
    margin-bottom: 50px;
}

.bug-create form {
    min-width: 80%;
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 20px;
    row-gap: 30px;
}

.bug-create label {
    text-align: right;
    font-size: 1.5rem;
}

.bug-create input,textarea,select {
    border-radius: 5px;
    border: none;
}

.edit-bug-btn {
    grid-column: 2;
    width: 200px;
    margin-left: 140px;
    
}

.close-btn {
    position: absolute;
    width: 100px;
    right: 0;
    top: 0;
    margin: 10px;
}
