@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=M+PLUS+Code+Latin&display=swap');

.bug-card{
    background-color: rgba(255, 255, 255, 0.878);
    box-shadow: 4px 4px 4px rgb(90, 90, 90);
    text-align: center;
    margin: 10px;
    min-width: 275px;
    min-height: 200px;
    border-radius: 5%;
    border: 3px solid #890f0dc4;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 5%;

}

.bug-card:hover {
    transition: all 0.3s;
    transform: scale(1.3);
}

#ticket_details {
    margin-bottom: 30px;
    margin-top: 10px;
}
