

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #root{
  --card-color: rgb(215, 215, 215);
} */

button {
  background-color: rgb(246, 61, 61);
  border-radius: 10px;
  width: 60%;
  height: 30px;
  border: 2px solid;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #bb0000 #b80a0a #7a0303;
  color: white;
}

button:hover {
  transition: all 0.3s;
  background: #ae0000;
}

button:focus {
  outline: 2px solid rgba(64, 112, 255, 0.601);
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  grid-column: 2;
}